.cart {
  position: relative;

  width: 48px;
  height: 48px;
  background-color: transparent;

  border: none;
  border-radius: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart i {
  font-size: 18px;
}

.cart:hover {
  background-color: rgb(228, 222, 222);
}

.items-num {
  position: absolute;
  left: 30px;
  bottom: 10px;

  font-size: 12px;

  width: 16px;
  height: 16px;
  background-color: orange;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
